.components{
    width: 100%;
    height: 100%;
    background-color: #C4C9DC;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
    overflow-x: hidden;
    position: absolute;
}
.home{
    width: 100%;
    height: 95%;
    background-color: #fff;
    border-radius: 20px;
    margin: 0 20px;
    display: flex;
   
}
.homeRidth{
    position: relative;
    margin: 0 2%;
}
.cardTutorial{
    position: relative;
    top: 1%;
    width: 950px;
    height: 430px;
    background: linear-gradient(287deg, #CA8DEA 0%, #6064F9 120%);
    border-radius: 20px 20px 170px 20px ;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

}
.titleCard{
    position: relative;
    top: 5%;
    left: 5%;
    font-size: 40px;
    font-weight: bold;
    color: #fff;
    width: 550px;
    height: 100px;

}
.subCard{
    position: relative;
    top: 5%;
    left: 5%;
    width: 400px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.subTitle{
    font-size: 18px;
    color: #fff;
    font-weight: 300;
    margin: 1% 0;
}
.btns{
    position: relative;
    top: 5%;
    left: 5%;
    width: 350px;
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.tutorial{
    width: 150px;
    height: 50px;
    border-radius: 10px;
    color: #fff;
    font-size: 15;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    background-color: #ED80FD;
    cursor: pointer;
}
.simulacao{
    width: 150px;
    height: 50px;
    border-radius: 10px;
    color: #fff;
    font-size: 15;
    font-weight: bold;
    text-transform: uppercase;
    border: 1px solid #fff;
    background-color: transparent;
    cursor: pointer;
}
.Caixa{
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.C1{
    position: relative;
    top: 0;
    animation: caixa 5s ease-in infinite;
}
@keyframes caixa{
    0%{
        top: 0;
    }
    50%{
        top: 5%;
    }
    100%{
        top: 0;
    }
}
.listHistorico{
    position: relative;
    bottom: -5%;
    width: 950px;
    height: 430px;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.BaseBotChat{
    position: absolute;
    bottom: -67%;
    right: 3%;
    width: 400px;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s;
}
.BotChat{
    position: relative;
    width: 400px;
    height: 600px;
    border-radius: 20px 20px 0 0;
    background-color: #fff;
    display: flex;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    z-index: 15;
    transition: .5s;
}
.baseAI{
    position: absolute;
    top: -15%;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    z-index: 1;
}
.foto{
    position: absolute;
    width: 100px;
    height: 100px;
    top: -11%;
    border-radius: 50%;
    background-color: #000;
    z-index: 16;
}
.btnOn{
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4D71FF;
    top: -15%;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    opacity: 1;
}
.btnOff{
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4D71FF;
    top: -15%;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
}
.interogacao{
    position: absolute;
    background-color: #4D71FF;
    width: 50px;
    height: 50px;
    top: 5%;
    right: -35%;
    font-size: 25px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 60%;
    z-index: 1;
    transition: .5s;
}
.triangulo{
    position: absolute;
    left: -3%;
    bottom: 0;
    width: 0; 
    height: 0; 
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #4D71FF;
    transform: rotate(115deg);
}
.title{
    position: absolute;
    top: 3%;
    left: 3%;
    color: #4D71FF;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.base{
    position: absolute;
    right: 2%;
    bottom: 4%;
    width: 450px;
    height: 450px;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;  
}
.btnsList {
    position: absolute;
    top: 0;
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    z-index: 9;
}
.buttons{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    background-color: #fff;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    font-size: 18px;
    transition: .2s ease-in;
}
.buttons:hover{
    color: #fff;
    background-color: #000;
}
.buttonsFocus{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    background-color: #000;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 18px;
    transition: .2s ease-in;
}
.base_form{
    position: absolute;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    left: -450px;
    bottom: -45px;
    transition: 0.5s;
}
.listaPedidos{
    position: relative ;
    width: 450px;
    height: 80%;

}
.listaFornecedor{
    position: relative;
    width: 450px;
    height: 80%;
}
.listaProdutos{
    position: relative;
    width: 450px;
    height: 80%;

}
.headerList{
    position: absolute;
    width: 100%;
    height: 50px;
    top: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.headerTitle{
    position: relative;
    width: 150px;
    height: 30px;
    color: #000;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
.SubTitle{
    color: #000;
    font-size: 15px;
    font-weight: bold;
    margin: 0 5px;
}
.addFornecedor{
    position: relative;
    width: 150px;
    height: 30px;
    color: #4D71FF;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.addTitle{
    color: #4D71FF;
    font-size: 12px;
    font-weight: bold;
    margin: 0 0 0 5px;
}
.lista{
    position: absolute;
    width: 450px;
    height: 300px;
    bottom: 0;
    overflow: scroll;
}