.components{
    width: 100%;
    height: 100%;
    background-color: #C4C9DC;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
    overflow-x: hidden;
    padding: 20px;
}
.home{
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-radius: 20px;
    display: flex;
}

.homeCenter{
    width: 80%;
    transition: .2s ease-in;
    padding: 20px 0px 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    margin: 0 2%;
}

.HomeRight{
    width: 30%;
    height: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.cardTutorial{
    position: relative;
    width: 100%;
    height: 49%;
    max-height: 500px;
    background: linear-gradient(287deg, #CA8DEA 0%, #6064F9 120%);
    border-radius: 20px 20px 170px 20px ;
    box-shadow: rgba(0, 0, 0, 0.402) 0px 8px 20px;
    transition: .2s ease-in;
}

.titleCard{
    position: relative;
    top: 5%;
    left: 5%;
    font-size: 40px;
    font-weight: bold;
    color: #fff;
    width: 550px;
    height: 100px;

}
.subCard{
    position: relative;
    top: 5%;
    left: 5%;
    width: 400px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.subTitle{
    font-size: 18px;
    color: #fff;
    font-weight: 300;
    margin: 1% 0;
}
.btns{
    position: relative;
    top: 5%;
    left: 5%;
    width: 350px;
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.tutorial{
    width: 150px;
    height: 50px;
    border-radius: 10px;
    color: #fff;
    font-size: 15;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    background-color: #ED80FD;
    cursor: pointer;
}
.simulacao{
    width: 150px;
    height: 50px;
    border-radius: 10px;
    color: #fff;
    font-size: 15;
    font-weight: bold;
    text-transform: uppercase;
    border: 1px solid #fff;
    background-color: transparent;
    cursor: pointer;
}
.Caixa{
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.C1{
    position: relative;
    top: 0;
    animation: caixa 5s ease-in infinite;
}
@keyframes caixa{
    0%{
        top: 0;
    }
    50%{
        top: 5%;
    }
    100%{
        top: 0;
    }
}
.listHistorico{
    width: 100%;
    height: 49%;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.402) 0px 8px 20px;
    transition: .2s ease-in;
}
.BaseBotChat{
    position: absolute;
    top: 4%;
    right: 0;
    width: 530px;
    height: 430px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s;
}
.BotChat{
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 20px 0 0 20px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    z-index: 15;
    transition: .5s;
}
.conversa{
    position: relative;
    width: 80%;
    height: 100%;
    top: -5%;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    /* overflow-y: scroll; */
}
.msgBot{
    position: relative;
    display: flex;
    justify-content: center;
    right: -5%;
    width: 300px;
    height: 50px;
    margin: 5% 0;
}

.MsgImgBot{
    position: absolute;
    right: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #000;
}

.MsgBot{
    position: absolute;
    left: 0;
    top: 20%;
    width: 80%;
    min-height: 40px;
    border-radius: 10px;
    background-color: #F2F2F2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.MsgNameBot{
    position: absolute;
    top: -20%;
    right: 20%;
    color: #9E9E9E;
    font-size: 11;
    font-weight: 400;

}
.msgUser{
    position: relative;
    display: flex;
    justify-content: center;
    left: -5%;
    width: 300px;
    height: 50px;
    margin: 5% 0;
}
.MsgImgUser{
    position: absolute;
    left: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #000;
}
.MsgName{
    position: absolute;
    top: -20%;
    left: 20%;
    color: #9E9E9E;
    font-size: 11;
    font-weight: 400;

}
.Msg{
    position: absolute;
    right: 0;
    top: 20%;
    width: 80%;
    min-height: 40px;
    border-radius: 10px;
    background-color: #F2F2F2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.InfoMsg{
    width: 90%;
    padding: 10px;
}
.Duvida{
    position: absolute;
    bottom: 5%;
    width: 80%;
    height: 50px;
    border-radius: 50px;

}
.baseAI{
    position: absolute;
    top: -5%;
    left: -15%;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    z-index: 1;
}

.foto{
    position: absolute;
    width: 100px;
    height: 100px;
    top: 1%;
    left: -10%;
    border-radius: 50%;
    background-color: #000;
    z-index: 16;
}

.btnOn{
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4D71FF;
    top: -15%;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    opacity: 1;
}
.btnOff{
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4D71FF;
    top: -15%;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
}
.interogacao{
    position: absolute;
    background-color: #4D71FF;
    width: 50px;
    height: 50px;
    top: -5%;
    left: -20%;
    font-size: 25px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 60%;
    z-index: 1;
    transition: .5s;
}
.triangulo{
    position: absolute;
    right: -3%;
    bottom: 0;
    width: 0; 
    height: 0; 
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #4D71FF;
    transform: rotate(30deg);
}
.title{
    position: absolute;
    top: 3%;
    right: 3%;
    color: #4D71FF;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.estatisticas{
    width: 450px;
    height: 450px;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.402) 0px 8px 20px;
    margin-bottom: 20px;
    font-size: 13px;
}

.estatisticas span{
    width: 100%;
    height: 10%;
    font-size: 150%;
    font-weight: bold;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.statusHead{
    height: 35px;
    display: flex;
    justify-content: flex-start;
}

.estatisticas p {
    margin-top: 8px;
}

.titleStatus{
    font-size: 16px;
    font-weight: bold;
    color: #000;
    position: relative;
    left: -20px;
    top: -5px;
    word-break: break-all;
}

.statusContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 90%;
}

.saldo{
    margin: 12px;
    font-size: 28px;
    text-align: center;
}

.circleStatus{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 20px;
    background-color: #000;
    width: 50px;
    height: 50px;
    position: relative;
    border-radius: 50px;
    top: -25px;
    left: -25px;
    box-shadow: rgba(0, 0, 0, 0.598) 0px 5px 15px;
}

.status1{
    width: 35%;
    padding: 10px;
    height: 40%;
    border-radius: 20px;
    color: white;
    margin: 20px;
    background: linear-gradient(180deg, #00FFF0 0%, #003BD4 100%);
}

.status2{
    width: 35%;
    padding: 10px;
    height: 40%;
    border-radius: 20px;
    color: white;
    margin: 20px;
    background: linear-gradient(180deg, #E15AE3 0%, #8E0090 100%);
}

.status3{
    width: 35%;
    padding: 10px;
    height: 40%;
    border-radius: 20px;
    color: white;
    margin: 20px;
    background: linear-gradient(180deg, #44A118 0%, #194206 100%);
}

.status4{
    width: 35%;
    padding: 10px;
    height: 40%;
    border-radius: 20px;
    color: white;
    margin: 20px;
    background: linear-gradient(180deg, #FF9900 0%, #FF4D00 100%);
}

.base{
    position: relative;
    width: 450px;
    height: 450px;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.402) 0px 8px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;  
}
.btnsList {
    position: relative;
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: rgba(0, 0, 0, 0.23) 0px 8px 20px;
    z-index: 9;
}
.buttons{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.252) 0px 8px 20px;
    background-color: #fff;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    font-size: 18px;
    transition: .2s ease-in;
}
.buttons:hover{
    color: #fff;
    background-color: #000;
}
.buttonsFocus{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.402) 0px 8px 20px;
    background-color: #000;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 18px;
    transition: .2s ease-in;
}
.base_form{
    position: absolute;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    left: -450px;
    bottom: -45px;
    transition: 0.5s;
}
.listaPedidos{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative ;
    width: 450px;
    height: 75%;
}

.thead{
    font-size: 15px;
    position: relative;
    height: 50px;
    border-bottom: 5px solid #F2F2F4;
}

.listaFornecedor{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 450px;
    height: 75%;
}
.listaProdutos{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 450px;
    height: 75%;

}
.headerList{
    position: relative;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.headerTitle{
    position: relative;
    width: 150px;
    height: 30px;
    color: #000;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
.SubTitle{
    color: #000;
    font-size: 15px;
    font-weight: bold;
    margin: 0 5px;
}

.headerListMovimentacao{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.headerTitleMovimentacao{
    position: relative;
    height: 30px;
    color: #000;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.SubTitleMovimetacao{
    color: #000;
    font-size: 15px;
    font-weight: bold;
    width: 220px;
    display: flex;
    align-items: center;
}

.addFornecedor{
    position: relative;
    width: 150px;
    height: 30px;
    color: #4D71FF;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tipo{
    font-size: 20px;
}

.data{
    font-weight: bold;
    font-size: 20px;
}

.produtoNome{
    font-size: 20px;
    color: #A7A7A7;
}

.tabelaContainer {
    width: 100%;
    height: 80%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.tabelaMovimentacao{
    width: 100%;
    padding: 20px;
    text-align: center;
}

.tabelaMovimentacaoHead{
    font-size: 20px;
    color: #A7A7A7;
    height: 20%;
}

.tabelaMovimentacaoBody{
    height: 80%;
}

.addTitle{
    color: #4D71FF;
    font-size: 12px;
    font-weight: bold;
    margin: 0 0 0 5px;
}

.lista{
    position: absolute;
    width: 415px;
    height: 215px;
    overflow-y: scroll;
}

.tabela{
    border-collapse: collapse;
    width: 90%;
    text-align: center;
}

/* POPUP */

.popUp{
    position: fixed;
    display: flex ;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1;
}
.popUpMedidas{
    position: fixed;
    display: flex ;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1;
}