.container{
    position: absolute;
    width: 100%;
    height: 100%;
}
.popUp{
    position: absolute;
    width: 700px;
    height: 200px;
    border-radius: 0 20px 20px 0;
    top: -30%;
    right: 0.5%;
    background-color: #fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    opacity: 1;
    z-index: 5;
    transition: .2s;
} 
.barraProgress{
    position: absolute;
    width: 6px;
    height: 100%;
    
}
.colorProgress{
    position: absolute;
    width: 100%;
    height: 0%;
    background-color: #FF0000;
}

.Title{
    position: relative;
    left: 5%;
    top: 10%;
    color: #FF0000;
    font-size: 20px;  
    font-weight: 300;
}
.TitleInfo{
    position: relative;
    top: 25%;
    left: 5%;
    color: #000;
    font-size: 20px; 
    font-weight: 300;
}
.btn{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 5%;
    right: 2%;
    width: 130px;
    height: 45px;
    border-radius: 5px;
    background-color: #2F80ED;
    border: none;
    cursor: pointer;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
}